/*------FONT_IMPORT------*/
@font-face {
  font-family: NSBold;
  src: url(../assets/font/NetflixSansBold.otf);
}
@font-face {
  font-family: NSMedium;
  src: url(../assets/font/NetflixSansMedium.otf);
}
@font-face {
  font-family: NSLight;
  src: url(../assets/font/NetflixSansLight.otf);
}

/*------VARS------*/
:root {
  --NSred: #e50914;
  --NSblack: #141414;
  --NSgray: #bcbcbc;
  --trans: #00000000;
}

/*------RESET------*/
*,
*::before,
*::after {
  /* position */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font */
  text-decoration: none;
  color: #fff;
}

::selection {
  color: #fff;
  background-color: var(--NSred);
}

.font-gray {
  /* font */
  color: var(--NSgray);
}

html {
  /* font */
  font-size: 62.5%;
  font-weight: 500;
  font-family: NSMedium, Times;
  /* scroll */
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  /* color */
  background-color: var(--NSblack);
}

banner {
  /* scroll */
  scroll-snap-align: start;
  scroll-behavior: smooth;
}

section div {
  /* scroll */
  scroll-snap-align: end;
  scroll-behavior: smooth;
}

button {
  /* back */
  background-color: var(--NSblack);
  /*size*/
  width: 20rem;
  height: 6rem;
  /* position */
  padding: 1rem 2rem;
  /* flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border */
  border: none;
  border-radius: 0.6rem;
  /* misc */
  transition: all 0.4s ease;
  cursor: pointer;
}

button img {
  /* size */
  height: 3rem;
  /* position */
  margin: 0 5%;
  /* misc */
  transition: all 0.4s ease;
  user-select: none;
}

button p {
  /* position */
  margin: 0 5%;
  /* font */
  font-family: NSMedium, Times;
  color: #fff;
  /* misc */
  transition: all 0.4s ease;
  user-select: none;
}

button:hover p,
button:hover img {
  /* misc */
  filter: invert();
}

.container {
  /* flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
}

/*------SCROLL------*/
/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.3vw;
  cursor: cell;
  transition: 1s;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--NSblack);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--NSgray);
  transition: 1s;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

/*------HEADER------*/
header {
  /* size */
  width: 100%;
  /* position */
  position: fixed;
  z-index: 1;
  /* flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
  /* misc */
  transition: all 0.4s ease;
  backdrop-filter: blur(0.1em);
}

header .container {
  /* size */
  width: 100%;
  /* position */
  padding: 3em 6em;
  /* flexbox */
  justify-content: space-between;
  /* font */
  user-select: none;
}

.div-navs {
  /* size */
  width: 100%;
  /* flexbox */
  display: flex;
  justify-content: space-between;
  /* misc */
  transition: all 0.6s ease;
}

.div-navs nav {
  /* flexbox */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.div-navs nav:nth-child(1) {
  /* size */
  width: 60em;
}

.div-navs nav:nth-last-child(1) {
  /* size */
  width: 30em;
}

header a {
  /* font */
  font-size: 2em;
  font-family: NSLight;
  color: var(--NSgray);
}

header a:hover {
  color: #fff;
}

header .logo {
  width: 20em;
}

.nav-icon {
  /* size */
  width: 3em;
  height: 3em;
  /* misc */
  cursor: pointer;
}
.nav-icon:hover,
.nav-icon:nth-last-child(1):hover::after {
  /* misc */
  filter: brightness(2);
}

.nav-icon:nth-last-child(1) {
  /* back */
  background: no-repeat left/100% url(../assets/img/user.jpg);
  /* size */
  width: 8em;
  height: 8em;
  /* border */
  border-radius: 1em;
  /* misc */
  filter: brightness(1) !important;
}

.nav-icon:nth-last-child(1)::after {
  content: "";
  /* back */
  background: no-repeat right/16% url(../assets/img/drop_arrow.png);
  /* size */
  width: 11em;
  height: 8em;
  /* position */
  position: absolute;
  /* misc */
  cursor: pointer;
}

/*------MOVIE_BANNER------*/
.main-movie {
  /* back */
  background: linear-gradient(
    to bottom,
    var(--NSblack),
    #00000080 50%,
    var(--NSblack) 90%
  );
  /* size */
  height: 100vh;
  /* flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* misc */
  transition: all 1s ease;
}

.main-movie .container {
  /* size */
  width: 80%;
  /* position */
  padding: 0 6em;
  /* flexbox */
  flex-direction: column;
  align-items: flex-start;
}

.main-movie h1 {
  /* font */
  font-family: NSBold;
  font-size: 8em;
  user-select: none;
}

.main-movie .font-gray {
  /* position */
  margin: 0 0.4em;
  /* font */
  font-weight: 100;
  font-family: NSLight;
}

.main-movie p {
  /* position */
  margin: 1% 0% 2% 2%;
  /* font */
  font-size: 2em;
}

.main-movie .buttons {
  /* flexbox */
  display: flex;
}

.main-movie button {
  /* back */
  background-color: #00000080;
  /* position */
  margin: 0 1em;
}

.main-movie button:hover {
  /* back */
  background-color: #ffffffe0;
}

/*------ITEMS_CAROUSEL------*/
.catalogue {
  padding: 0 6em;
}

.catalogue p {
  /* position */
  padding: 0.2em 0em;
  /* font */
  font-size: 5em;
  font-family: NSBold;
}

.item-carousel {
  /* size */
  width: 100%;
  height: 100%;
  display: block;
  /* misc */
  transition: all 0.4s ease;
  filter: brightness(0.8);
  cursor: pointer;
}

.item-carousel:hover {
  /* misc */
  transform: scale(1.01);
  filter: brightness(1);
}
